<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilos.css">
    <link rel="stylesheet" href="../static/notificacion.css">
    <title>Consulta externa</title>
</head>
<body>
<h1>Formulario para consulta externa</h1>
<main class="sombra">

        <div>
            <form action="/login" method="post">
                <input class="boton" type="submit" value="Iniciar sesión">
            </form>
        </div>


    <form class="formulario">
        <div>
            <legend>Datos del usuario:</legend>
        </div>
            <table class="content_table">
                <thead>
                <tr>
                    <th> Codigo_id   </th>
                    <th> Nombres     </th>
                    <th> Apellidos   </th>
                    <th> Fecha Nacimiento</th>
                    <th> Lugar de nacimiento </th>
                </tr>
                </thead>
                <tbody>
                {% for persona in baseDatos %}
                    <tr>
                        <td>{{ persona.id }}</td>
                        <td>{{ persona.nombre }}</td>
                        <td>{{ persona.apellido }}</td>
                        <td>{{ persona.fecha_nacimiento }}</td>
                        <td>{{ persona.ciudad }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    </form>


</main>
</body>
</html>